<div class="card">
  <div class="card-header">
    <center>Book Information</center>
  </div>
  <div class="card-body">
    <h5 class="card-title"><strong>Name: </strong><%= book.name %></h5>
    <h5 class="card-title"><strong>Author: </strong><%= book.author %></h5>
    <h5 class="card-title"><strong>Description: </strong><%= book.description %></h5>
    <h5 class="card-title"><strong>Publish Year: </strong><%= book.publish_year %></h5>
    <h5 class="card-title"><strong>rating: </strong><%= book.rating %></h5>
  </div>
</div>